@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-heading: "Unbounded", sans-serif;
    --font-body: "Urbanist", sans-serif;
    --main-color: #7ABEFF;
}

* {
    box-sizing: border-box;
    font-family: var(--font-body);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
        to bottom right,
        #d7edfd,
        #ffffff
    );
    overflow: hidden;
    height: 100vh;
}

h1 {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0 0 15px 0;
}

h1.title {
    font-size: 45px;
    line-height: 45px;
    margin: 0;
    text-shadow: 0 0 10px #084992;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    text-shadow: 0 0 10px #000000;
}

span {
    font-size: 14px;
    margin-top: 25px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: var(--main-color);
}

.content {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content input {
    accent-color: var(--main-color);
    width: 12px;
    height: 12px;
}

.content label {
    font-size: 14px;
    user-select: none;
    padding-left: 5px;
}

button {
    position: relative;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0 4px 12px rgba(255, 185, 212, 0.842);
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-family: var(--font-heading);
}

button:hover {
    letter-spacing: 3px;
}

button:active {
    transform: scale(0.98);
}

button.ghost {
    border: 2px solid #fff;
    color: #fff;
}

form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    font-family: var(--font-body);
}

input {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-family: var(--font-body);
    font-weight: bolder;
}

.container {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 14px 28px rgb(255, 255, 255), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 500px;
    transition: all 0.6s ease-in-out;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    backface-visibility: hidden;
}

.login-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.register-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    transform: translateX(-100%);
    transition: all 0.6s ease-in-out;
}

.container.right-panel-active .register-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .login-container {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.075),
        rgba(255, 255, 255, 0.479)
    ), 
    url('/gambar/masuk.jpg') no-repeat center center;
    background-size: cover;
    color: #000000;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.8s ease-in-out;
    animation: moveBg 15s ease-in-out infinite alternate;
    font-family: var(--font-heading);
}

@keyframes moveBg {
    0% { background-position: center top; }
    50% { background-position: center bottom; }
    100% { background-position: center top; }
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    font-family: var(--font-heading);
    color: rgb(255, 255, 255);
}

.overlay-panel h1,
.overlay-panel p {
    color: #2b2b2b;
}

.overlay-panel p {
    font-family: var(--font-body);
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-shadow: none;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}
