<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/sideBarPasien.css" type="text/css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <ul> <!-- unordered list/ daftar tanpa urutan(bullet points) -->
                <li><!-- list item / item dalam daftar -->

                    <!-- home -->
                    <a href="#" class="nav-link">
                        <span
                            class="item-icon"><!-- inline / membungkus bagian kecil teks(mengbungkus 1 kata) dalam baris -->
                            <i class='bx bxs-home'></i> <!-- unntuk cetak garis miring -->
                        </span>
                        <span class="item-txt">Home</span>
                    </a>
                </li>

                <!-- about -->
                <li>
                    <a href="#" class="nav-link">
                        <span
                            class="item-icon"><!-- inline / membungkus bagian kecil teks(mengbungkus 1 kata) dalam baris -->
                            <i class='bx bxs-info-circle'></i> <!-- unntuk cetak garis miring -->
                        </span>
                        <span class="item-txt">About</span>
                    </a>
                </li>

                <!-- services -->
                <li>
                    <a href="appointment.html" class="nav-link">
                        <span
                            class="item-icon"><!-- inline / membungkus bagian kecil teks(mengbungkus 1 kata) dalam baris -->
                            <i class='bx bx-clipboard'></i> <!-- unntuk cetak garis miring -->
                        </span>
                        <span class="item-txt">Services</span>
                    </a>
                </li>

                <!-- contact -->
                <li>
                    <a href="contact.html" class="nav-link">
                        <span
                            class="item-icon"><!-- inline / membungkus bagian kecil teks(mengbungkus 1 kata) dalam baris -->
                            <i class='bx bxs-contact'></i> <!-- unntuk cetak garis miring -->
                        </span>
                        <span class="item-txt">Contact</span>
                    </a>
                </li>

                <!--logout-->
                <li class="Logout">
                    <a href="#" class="nav-link">
                        <span class="item-icon">
                            <i class="bx bxs-log-out"></i>
                        </span>
                        <span class="item-txt">Logout</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="isi">
            <div class="appointment">
                <h1>Appointment</h1>
                <div class="kotak">
                    <div class="kotak1">
                        <a href="#"></a>
                        <img src="gambar/drA.png">
                        <div class="bawah">
                            <h3>Dr. A</h3>
                        </div>
                    </div>
                    <div class="kotak2">
                        <a href="#"></a>
                        <img src="gambar/drB.png">
                        <div class="bawah">
                            <h3>Dr. B</h3>
                        </div>
                    </div>
                    <div class="kotak3">
                        <a href="#"></a>
                        <img src="gambar/drC.png">
                        <div class="bawah">
                            <h3>Dr. C</h3>
                        </div>
                    </div>
                </div>
            </div><!-- div penutup kotak -->
        </div> <!-- div penutup isi -->
    </div> <!-- div penutup kontainer -->
</body>

</html>