<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>klinik anak</title>

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sideBarPasien.css">

</head>

<body>

    <div class="container">
        <div class="sidebar">
            <ul> <!-- unordered list/ daftar tanpa urutan(bullet points) -->
                <li><!-- list item / item dalam daftar -->
                    <!--home-->
                    <a href="#" class="nav-link">
                        <span class="item-icon">
                            <!-- inline / membungkus bagian kecil teks(mengbungkus 1 kata) dalam baris -->
                            <i class="bx bx-home-heart"></i> <!-- unntuk cetak garis miring -->
                        </span>
                        <span class="item-txt">Home</span>
                    </a>
                </li>

                <li>
                    <!--about-->
                    <a href="#" class="nav-link">
                        <span class="item-icon">
                            <i class="bx bxs-info-circle"></i>
                        </span>
                        <span class="item-txt">About</span>
                    </a>
                </li>

                <li>
                    <!--services-->
                    <a href="appointment.html" class="nav-link">
                        <span class="item-icon">
                            <i class="bx bxs-shield-plus"></i>
                        </span>
                        <span class="item-txt">Services</span>
                    </a>
                </li>

                <li>
                    <!--contact-->
                    <a href="contact.html" class="nav-link">
                        <span class="item-icon">
                            <i class="bx bxs-contact"></i>
                        </span>
                        <span class="item-txt">Contact</span>
                    </a>
                </li>


                <!--logout-->
                <li class="Logout">
                    <a href="#" class="nav-link">
                        <span class="item-icon">
                            <i class="bx bxs-log-out"></i>
                        </span>
                        <span class="item-txt">Logout</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="isi">
            <div class="contact">
                <h1>Contact</h1>
                <img src="gambar/contact.png">
                <p>masukin gambar aja lah</p>
            </div><!-- div penutup kotak -->
        </div> <!-- div penutup isi -->
    </div> <!-- div penutup kontainer -->
</body>

</html>